* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-top: 20px;
}

nav {
    margin-top: 30px;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: block;
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    text-align: center;
}

nav ul li a:hover {
    /*<!--text-decoration: underline;-->*/
    background-color: #9850c0;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}
