* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1b1b1b;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

header {
    background: linear-gradient(120deg, #4c62aa 0%, #324170 100%);
    padding: 24px;
    text-align: center;
    color: #FFF;
}

nav {
    background: #ffffff;
    margin-bottom: 8px;
    padding: 40px;
    position: relative;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    background-color: #2555ff;
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 20px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

nav ul li a {
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 20px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

form {
    background: #ffffff;
    margin-bottom: 8px;
    padding: 40px;
    position: relative;
}

label {
    display: inline-block;
    margin-bottom: 4px;
}

input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

button {
    background-color: #59c07b;;
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

table {
    width: 100%;
    border-collapse:
    collapse;
    margin-inline: 40px;
    margin-block: 20px;
    padding: 40px;
    position: relative;
}

table th, table td {
    border: 1px solid #fafafa;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #fafafa;
}

footer {
    background-color: #2555ff;
    border-radius: 14px;
    margin-inline: 50px;
    margin-block: 50px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-align: center;
    color: #FFF;
}

footer p a{
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 20px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}